@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,300italic,700italic);

body {
	/*background-color: #222222;*/
  font-family: 'Source Sans Pro';
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
#wrap {
	padding: 32px 32px;
}

#editor {
  padding: 32px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.info {
  color: #DDDDDD;
}

.CodeMirror {
  top: 0;
  bottom: 0;
	font-size: 20px;
	font-family: 'Source Sans Pro';
	font-weight: 300;
	min-height: 240px;
  height: 100%;
	min-height:300px;
	line-height: 1.3;
	margin: 0 auto;
  width:100%;
  
	/*background-color: #222222!important;*/
}

.CodeMirror-gutters {
	/*background-color: #323232!important;*/
}

.cm-formatting-header {
	opacity: 0.3;
	font-weight: 400;
}

.cm-formatting-list {
	font-weight: 700;
}
.cm-header-1 {
	font-size: 36px;
	line-height: 48px;
}

.cm-header-2 {
	font-size: 32px;
	line-height: 40px;
}

.cm-header-3 {
	font-size: 28px;
	line-height: 36px;
}
	.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: auto;
}

.ui-layout-pane {
  border: none!important;
}

.ui-layout-north{
  padding:0!important;

}

.ui-layout-resizer-north,
.ui-layout-resizer-south {
  max-height: 2px;
}

.middle-center {
  padding: 0 !important;
  background-color: #EEEEEE!important;
}

.titlebar {
  padding: 8px 12px;
  margin: 0;
  background-color: #FFFFFF;
  -webkit-user-select: none;
  -webkit-app-region: drag !important;
}

.titlebar-button {
  font-size: 24px;
  color:#EEEEEE;
  float:right;
  text-align:right;
  cursor: pointer;
  margin: 0 0 0 6px;
  -webkit-app-region: no-drag;
}


.titlebar-clear {
  clear:both;
  height: 1px;
}

.titlebar-text {
  line-height:32px;
  height: 24px;
  vertical-align: bottom;
  float:left;
  font-weight:bold;
  font-family: 'Source Sans Pro';
  font-size: 14pt;
  color: #000000;
}

.btn {
  padding: 4px 8px;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  cursor: pointer;
  font-size: 14px;
}